@import '../../../docs/css/mixing.scss';

.callToActionArea {
  padding: 104px 0px 90px;
  background: $headingColor;

  @media (max-width:991px) {
    padding: 104px 0;

    .textRight {
      text-align: left;
    }
  }
}

.callToActionWrap {
  span {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 60px;
    color: #fff;
    line-height: 70px;

    @media (max-width:1300px) {
      font-size: 45px;
      line-height: 55px;
    }

    @media (max-width:991px) {
      font-size: 40px;
      line-height: 50px;
    }

    @media (max-width:767px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
