@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold ☞'), url('../fonts/Gilroy-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Heavy ☞'), url('../fonts/Gilroy-Heavy.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Light ☞'), url('../fonts/Gilroy-Light.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Medium'), url('../fonts/Gilroy-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Regular'), url('../fonts/Gilroy-Regular.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import './mixing.scss';

body {
  font-family: $basicFontFamily;
  font-size: 16px;
  color: $textColor;
  line-height: 26px;

  a,
  a:hover,
  a:focus {
    color: $textColor;
    text-decoration: none;
    outline: none;
  }

  a,
  button {
    transition: all .4s ease-in-out 0s;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Gilroy-Bold';
    text-transform: capitalize;
    margin: 0;
    color: $headingColor;
    font-weight: bold;
  }

  .MuiButton-root,
  .MuiInputBase-root {
    font-family: $basicFontFamily;
    color: $headingColor;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  p {
    margin: 0;
  }

  .container {
    width: 1170px;
    margin: auto;

    @media (max-width:1300px) {
      width: 100%;
    }
  }

  .loadmore {
    height: 60px;
    min-width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid $baseCOlor;
    background: $baseCOlor;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .4s ease-in-out 0s;

    &:hover {
      background: transparent;
      color: $baseCOlor;
    }

    svg {
      margin-left: 20px;
      font-size: 10px;
    }
  }

  .radiusOff {
    border-radius: 0 !important;
  }

  .btn {
    height: 60px;
    min-width: 200px;
    border-radius: 0px;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    border: 2px solid $baseCOlor;
    background: $baseCOlor;
    border-radius: 0px;
    letter-spacing: 2px;
    transition: all .4s ease-in-out 0s;

    &:hover {
      background: transparent;
      color: $baseCOlor;
    }
  }

  .overlay {
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: $headingColor;
      opacity: .9;
      z-index: -1;
    }
  }

  .inputLabel {
    font-size: 16px;
    color: $headingColor;
    display: block;
    margin-bottom: 10px;
  }

  .inputField {
    .MuiInputBase-root {
      background: #fff;
    }

    .Mui-focused {
      fieldset {
        border-color: $baseCOlor !important;
      }
    }

    fieldset {
      border: 1px solid #cfe6f1 !important;
      border-radius: 0px;
    }

    p {
      margin-left: 0;
      text-transform: capitalize;
    }

    &.inputTextarea {
      textarea {
        height: 160px !important;
      }
    }
  }

  .textCenter {
    text-align: center;
  }

  .textRight {
    text-align: right;
  }

  .textUppercase {
    text-transform: uppercase;
  }

  @media (max-width:1300px) {
    .d-none {
      display: none;
    }
  }

  .playBtn {
    width: 100px;
    height: 100px;
    background: $baseCOlor;
    border-radius: 0px;
    position: relative;

    span {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      width: 130px;
      height: 130px;
      content: "";
      border: 2px solid rgba(255, 255, 255, 0.3);
    }

    &:hover {
      background: $baseCOlor;
    }
  }

  .slick-arrow {
    height: 60px;
    width: 60px;
    background: #fff;
    border: 4px solid $baseCOlor;
    right: 155px;
    top: -90px;
    z-index: 12;

    @media (max-width:1300px) {
      right: 15px;
    }

    @media (max-width:767px) {
      height: 45px;
      width: 45px;
    }

    &:hover {
      border: 4px solid #f4f9ff;

      &::before {
        color: $textColor;
      }

      &::after {
        opacity: 1;
      }

    }

    &::after {
      position: absolute;
      right: -4px;
      top: -4px;
      width: calc(100% + 8px);
      height: 60%;
      content: "";
      border-top: 4px solid $baseCOlor;
      border-right: 4px solid $baseCOlor;
      transition: all .4s ease-in-out 0s;
      opacity: 0;
    }

    &::before {
      content: "\f105";
      font-family: 'fontawesome';
      color: $baseCOlor;
      transition: all .4s ease-in-out 0s;
    }

    &.slick-prev {
      left: auto;
      right: 230px;

      @media (max-width:1300px) {
        right: 90px;
      }

      @media (max-width:767px) {
        right: 65px;
      }

      &::before {
        content: "\f104";
      }
    }
  }
}

.bannerImg {
  overflow: hidden;
  display: block;

  img {
    width: 100%;
  }
}

.subText {
  text-transform: uppercase;
  font-size: 14px;
  color: $baseCOlor;
  letter-spacing: 3px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.ptb-104 {
  padding: 104px 0px;
}

.protfolioTab {

  .protfolioTabContainer {
    justify-content: center;
    flex-wrap: wrap;

    button {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      margin: 0 20px;
      width: unset;
      min-height: unset;
      min-width: unset;
      opacity: .8;
      letter-spacing: 2px;

      &[aria-selected="true"] {
        opacity: 1;

        &::before {
          content: "\f105";
          font-family: 'fontawesome';
          margin-right: 10px;
        }
      }
    }
  }

  .protfolioTabIndicator {
    display: none;
  }

  &.protfolioTabStyleBlack {
    .protfolioTabContainer {
      justify-content: center;
      flex-wrap: wrap;

      button {
        color: $textColor;
        opacity: 1;

        &[aria-selected="true"] {
          color: $baseCOlor;
        }
      }
    }
  }
}

.mt-30 {
  margin-top: 30px !important;
}

.bgGray {
  background: $grayBg;
}
