.brandArea {
  background: #f4fbff;
  padding: 0px 0px 104px;
  margin-top: -120px;

  .brandItem {
    display: block;
    text-align: center;

    img {
      height: 20px;
    }
  }
}
